body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
  font-size: var(--font-base);
  color: #ffffff;
  margin: 0;
  padding: 0;

  @apply font-inter;

  img {
    width: 100%;
    height: auto;
  }

  i {
    color: var(--font-color);
  }
}