@tailwind base;
@tailwind components;
@tailwind utilities;

@import "margin";
@import "animation";
@import "scrollbar";
@import "button";
@import "flexbox";
@import "themes";
@import "html";
@import "input";
@import "font";

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 2rem;
  --font-bold: 600;

  --btn-padding: 0.35rem 1rem;
  --btn-radius: 0.25rem;
  --btn-color: #ffffff;
  --btn-primary-bg: var(--accent);
  --btn-primary-bg-hover: var(--accent-hover);
  --btn-secondary-bg: #111827;
  --btn-secondary-bg-hover: #0d131e;
}

.pointer {
  cursor: pointer;
}

.full-height {
  height: 100vh;
}

.container {
  padding: 2rem;
}

.card {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-tertiary);
  border-radius: var(--btn-radius);
  padding: 1rem;
  margin: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fullwidth {
  width: 100%;
}