@tailwind base;
@tailwind components;
@tailwind utilities;

@import "margin";
@import "animation";
@import "scrollbar";

// Global styles
[data-theme="dark"] {
  --bg-primary: #111827;
  --bg-secondary: #1F2937;
  --bg-tertiary: #374151;
  --font-color: #ffffff;
  --font-color-secondary: #9CA3AF;
  --accent: #10B981;
  --accent-hover: #059669;
}

[data-theme="light"] {
  --bg-primary: #f4f4f4;
  --bg-secondary: #ffffff;
  --bg-tertiary: #ffffff;
  --font-color: #111827;
  --font-color-secondary: #374151;
  --accent: #10B981;
  --accent-hover: #059669;
  --danger: #6d0707;
}

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 2rem;
  --font-bold: 600;

  --btn-padding: 0.35rem 1rem;
  --btn-radius: 0.25rem;
  --btn-color: #ffffff;
  --btn-primary-bg: var(--accent);
  --btn-primary-bg-hover: var(--accent-hover);
  --btn-secondary-bg: #111827;
  --btn-secondary-bg-hover: #0d131e;
}

body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
  font-size: var(--font-base);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }

  div {
    i {
      color: var(--font-color);
    }
  }
}

// Div styles
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.justify-center {
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.full-height {
  height: 100vh;
}

// Container styles
.container {
  padding: 2rem;
}

// Card styles
.card {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-tertiary);
  border-radius: var(--btn-radius);
  padding: 1rem;
  margin: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

// Title styles
.title {
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
  color: var(--font-color);
  margin-bottom: 0.5rem;
}

// Text styles
.text {
  font-size: var(--font-base);
  color: var(--font-color-secondary);
  margin-bottom: 0.5rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fullwidth {
  width: 100%;
}

// Label styles
.label {
  color: var(--font-color);
  font-size: var(--font-sm);
  margin-bottom: 0.5rem;
  font-weight: var(--font-bold);
}

// Input styles
.input {
  width: 100%;
  padding: var(--btn-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--btn-radius);
  color: var(--font-color);
  background-color: var(--bg-secondary);
  outline: none;
}

// Form styles
.form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.form-item {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  gap: 1rem;
}

// Button styles

.btn-primary {
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  color: var(--btn-color);
  background-color: var(--accent);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--accent-hover);
  }
}

.btn-secondary {
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    background-color: var(--btn-secondary-bg);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--btn-secondary-bg-hover);
    }
}